body{
    background-image: url('/static/images/indexbg.jpg');
    background-size: 1550px 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    background-color: rgb(64, 175, 64);
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    height: 50px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.profile{
    background-color: rgba(14, 99, 18, 0.466);
    width:500px;
    height:80px;
    margin-left:50px;
    margin-top: 30px;
    padding-left: 50px;
    border-radius: 10px;
    padding-top: 10px;
    cursor: pointer;

}
.symptoms{
    background-color: rgba(68, 10, 20, 0.363);
    width:500px;
    height:80px;
    margin-left:50px;
    margin-top: 30px;
    padding-left: 50px;
    border-radius: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.notify{
    background-color: rgba(14, 99, 18, 0.534);
    width:500px;
    height:80px;
    margin-left:50px;
    margin-top: 30px;
    padding-left: 50px;
    border-radius: 10px;
    padding-top: 10px;
    cursor: pointer;

}
.profile:hover{
    background-color: rgba(14, 99, 18, 0.747);
}
.notify:hover{
    background-color: rgba(14, 99, 18, 0.76);
}
.symptoms:hover{
    background-color: rgba(68, 10, 20, 0.678);
}
.search{
    margin-left: 50px;
    margin-top: 30px;
}
#search{
    width:250px;
    height:30px;
}
#search-btn{
    cursor: pointer;
    color:white;
    width:100px;
    height: 30px;
    background-color: rgba(66, 11, 11, 0.89);
}